@model reverseAString.Models.Reverse

@{
    ViewBag.Title = "Reverse a String";
}

<div id="reverseModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Reversed String</h4>
            </div>
            <div class="modal-body">
                <div id="modalContainer"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="container">

    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <img src="~/Images/ReverseAStringLogo.png" class="img-responsive" alt="Reverse A String Logo">            
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            @using (Ajax.BeginForm(
                "ReversedText", new {},
                new AjaxOptions
                {
                    HttpMethod = "POST",
                    UpdateTargetId = "modalContainer",
                    OnSuccess = "showReverseModal",
                }, new { id = "reverse-form"}))
            {
                <div class="form-group">
                    @Html.LabelFor(m => m.sInput, "Enter a string to reverse")
                    @Html.TextAreaFor(m => m.sInput, new { @class = "form-control", rows=15 })
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            }
        </div><!-- end col -->
    </div>
    <!-- End row -->



</div> <!-- container -->

@section scripts {
    <script type="text/javascript">
        function showReverseModal() { $('#reverseModal').modal('show'); }
    </script>
}


