@model reverseAString.Models.Reverse

@{
    ViewBag.Title = "Reverse a String";
}

<div class="container">

    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <h4 class="page-title">Reverse a String</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "reverse-form" }))
            {
                <div class="form-group">
                    @Html.LabelFor(m => m.sInput, "Enter a string to reverse")
                    @Html.TextAreaFor(m => m.sInput, new { @class = "form-control" })
                </div>
            }
        </div><!-- end col -->
        
        <div class="col-md-1">
            <label>Submit</label>
            <button id="submitButton" type="submit" class="btn btn-default">> > ></button>
        </div>

        <div class="col-md-6">
            <label>Reversed String</label>
            <div class="form-control" style="height: 100%;">
                @MarkdownHelper.Markdown(Model.sOutput)
            </div>
        </div><!-- end col -->

    </div>
    <!-- End row -->



</div> <!-- container -->

@section scripts {
    <script type="text/javascript">
        $("#submitButton").click(function(e) {
            e.preventDefault();
            $("#reverse-form").submit();
        });
    </script>
}


