@model reverseAString.Models.Reverse

<div class="row">
    <div class="col-md-12">
        <div class="form-control" style="height: 100%;">
            @MarkdownHelper.Markdown(Model.sOutput)
        </div>
    </div>
</div>